* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Julius Sans One", sans-serif;
}
:root {
  scroll-behavior: smooth;
}
.App {
  background-color: rgb(249, 249, 249);
  min-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.work-title {
  font-size: 2.3rem;
  text-align: center;
  color: rgb(140, 140, 140);
  padding: 3rem 0;
  font-family: "Comfortaa", cursive;
}
.popup-content {
  width: 80%;
  max-width: 700px;
}

main {
  padding-bottom: 3rem;
}
