.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 5%;
  padding-bottom: 3rem;
}
.work-container article {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.info-work {
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.465);
  backdrop-filter: blur(5px);
  transform: translateY(150%);
  transition: 0.6s ease-out;
  color: white;
  padding: 5px;
}
.info-work small {
  background-color: black;
  border-radius: 10px;
  padding: 10px 5px;
}
.info-work div {
  position: relative;
  padding-top: 5px;
}
.info-work div p {
  font-weight: 800;
  margin: 2px 0;
  color: rgb(255, 253, 253);
}
.info-work div p span {
  background-color: rgb(163, 39, 35);
  border-radius: 10px;
  padding: 2px;
  color: white;
}
.work-container article div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btns-card-containter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btns-card-containter button {
  margin: 0 auto;
  margin-top: 3px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
.btns-card-containter button:hover {
  box-shadow: 0 0 7px inset rgba(17, 17, 17, 0.109);
}

.google {
  position: absolute;
  top: 20%;
  left: 5px;
  transition: 0.3s;
}
.github {
  position: absolute;
  top: 20%;
  right: 5px;
  transition: 0.3s;
}
.google:hover {
  transform: rotate(-25deg);
}
.github:hover {
  transform: rotate(-25deg);
}
.active {
  transform: translateY(0px);
  overflow-y: auto;
}
.active::-webkit-scrollbar {
  width: 3px black;
}
.active::-webkit-scrollbar {
  width: 8px;
}
.active::-webkit-scrollbar-thumb {
  background-color: rgb(108, 202, 211);
  border-radius: 5px;
}

@media screen and (max-width: 770px) {
  .work-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .work-container {
    grid-template-columns: 1fr;
  }
}
